.box-container {
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
}

.first-half {
    margin: 6px;
    height: 100%;
    padding: 10px 20px 0 5px;
    width: 120px;
}
.box-title {
    margin: 0 5px;   
}
.box-sub {
    color: #bbbbbb;
}
.second-half {
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
}
.second-half, .second-half .bar {
    border-radius: 0px 0px 10px 0px;
}
.second-half .bar {
    width: 50px;
    align-self: flex-end;
    text-align: center;
}
.progressData {
    position: absolute;
}