/* You can add global styles to this file, and also import other style files */
html {
    height: 100vh;
}
  
body {
    font-family: sans-serif;
    margin: 25px;
    padding: 5px;
    background: #e5e5e5;
    line-height: 1.4;
}

.df {
    display: flex;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}
.font18 {
    font-size: 18px;
}

.font24 {
    font-size: 24px;
}

.fontBold { 
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .font12 {
        font-size: 10px;
    }
    .font14 {
        font-size: 12px;
    }
    .font18 {
        font-size: 14px;
    }
    .font24 {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .font12 {
        font-size: 8px;
    }
    .font14 {
        font-size: 10px;
    }
    .font24 {
        font-size: 18px;
    }
}